<%- include("partials/header.ejs") %>
<div class="container-fluid">
  <h1>Contact</h1>
  <ul>
    <li><a href="https://github.com/yashsantani">Github</a></li>
    <li>
      <a href="https://www.linkedin.com/in/yash-heeralal-santani-325157121/"
        >linkedin</a
      >
    </li>
    <li><a href="https://www.instagram.com/yash._santani/">instagram</a></li>
    <li>Email: yashsantani60@gmail.com</li>
  </ul>
</div>
<%- include("partials/footer.ejs") %>
